ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    letter-spacing: 3px;
}

li a:hover {
    background-color: #111;
}


h1 {
  color:white;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 3;
  }


h2 {
  color:white;
  font-size: 10px;
  letter-spacing: 3px;
  line-height: 3;
}

  /* Style the navbar */
  #navbar {
    overflow: hidden;
    background-color: #8a2f34;

  }

  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;

  }

  /* Page content */
  .content {
    padding: 16px;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
