body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Creaci%C3%B3n_de_Ad%C3%A1n_%28Miguel_%C3%81ngel%29.jpg/1280px-Creaci%C3%B3n_de_Ad%C3%A1n_%28Miguel_%C3%81ngel%29.jpg");
}
h1 {
  color:white;
  font-size: 100px;
  background-image: url("4445.jpg_wh860.jpg");
}
